<!--FOOTER PAGE-->
footer.footer-page
	div.footer-page__inner
		div.footer-page__block
			h4.footer-page__block-heading Полезные статьи
			ul.footer-page__block-list
				li.footer-page__block-item
					a(href='#') Разработка приложений iOS
				li.footer-page__block-item
					a(href='#') Разработка приложений Android
				li.footer-page__block-item
					a(href='#') Продвижение в AppStore
				li.footer-page__block-item
					a(href='#') Продвижение в PlayMarket
				li.footer-page__block-item
					a(href='#') Мобильные приложения на заказ
				li.footer-page__block-item
					a(href='#') Стоимость мобильного приложения для бизнеса
		div.footer-page__block--small
			h4.footer-page__block-heading О компании
			ul.footer-page__block-list
				li.footer-page__block-item
					a(href='#') Портфолио
				li.footer-page__block-item
					a(href='#') Услуги
				li.footer-page__block-item
					a(href='#') Контакты
				li.footer-page__block-item
					a(href='#') Вакансии
				li.footer-page__block-item
					a(href='#') Блог
		div.footer-page__block
			h4.footer-page__block-heading Контакты
			p Адрес:  Новосибирск, ул. Русская, 39
			p e-mail:  info@idsi-apps.com
			p Телефон:  8 (800) 250 0178
			p Режим работы: Пн-пт с 09:00-18:00
	p.footer-page__copyright © 2017 «IDSI» — разработка мобильных приложений
<!--//FOOTER PAGE-->