<!--HEADER PAGE-->
header.header-page
	div.header-page__inner
		div.header-page__logo-wrap
			a(class='header-page__logo-link' href="index.html")
				img(src="./img/svg/logo.svg")
		nav.header-page__menu
			ul.menu__list
				li.menu__item
					a(href="index.html" class='menu__link--active') Главная
				li
					img(src="img/svg/menu-item-divider.svg")
				li.menu__item
					a(href="./servicies.html" class='menu__link') Услуги
				li
					img(src="img/svg/menu-item-divider.svg")
				li.menu__item
					a(href="./portfolio.html" class='menu__link') Портфолио
				li
					img(src="img/svg/menu-item-divider.svg")
				li.menu__item
					a(href="./blog.html" class='menu__link') Блог
				li
					img(src="img/svg/menu-item-divider.svg")
				li.menu__item
					a(href="./vacancies.html" class='menu__link') Вакансии
				li
					img(src="img/svg/menu-item-divider.svg")
				li.menu__item
					a(href="./contacts.html" class='menu__link') Контакты
		div.header-page__contacts
			ul.contacts__list
				li.contucts__item
					a(href='#' class='contucts__link') 8 (800) 250 01 78
				li.contucts__item
					a(href='#' class='contucts__link') info@idsi-apps.com
<!--//HEADER PAGE-->
