aside.right-bar
						div.widget
							h3.widget__title Рубрики
							ul.widget__list
									li.widget__item
										a(href='#') Дизайн
									li.widget__item
										a(href='#') Разработка
									li.widget__item
										a(href='#') Продвижение
									li.widget__item
										a(href='#') Бизнес
						div.widget
							h3.widget__title--lowercase Популярные статьи
							ul.widget__list
									li.widget__item
										a(href='#') Мобильные приложения на заказ
									li.widget__item
										a(href='#') Стоимость мобильного приложения для бизнеса