.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-logo {
	font-size:(1000.71/10)*1rem;
	width:(2000/1000.71)*1em;
}
.icon-menu-item-divider {
	font-size:(10/10)*1rem;
	width:(10/10)*1em;
}
